* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b2dfdb;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.5;
}

.iPhone {
  background-color: #181918;
  padding: 8vh 1.5vh;
  border-radius: 6vh;
  position: fixed;
  top: 2vh;
}

.iPhone, .screen {
  z-index: 4;
}

.screen {
  width: 40vh;
  position: relative;
  background-color: #fff;
  max-width: 100%;
  overflow: hidden;
}



.status_nav-bar {
  opacity: .90;
  background-color: #3F0095;
  position: fixed;
  z-index: 3;
  top: auto;
  width: inherit;
}

.status-bar img {
  width: 100%;
}

.nav-bar {
  padding: 10px 0;
  position: relative;
}

.nav-bar h1 {
  font-size: 2.4em;
  font-family: "SF Pro Display";
  color: #fff;
  text-align: center;
}

.arrow {
  padding-left: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.map-location {
  top: 0;
  z-index: 2;
}

.map-box {
  width: 40vh;
  position: relative;
}

img.locator {
  position: relative;
  top: 36vh;
  left: 34vh;
  z-index: 1;
}

.bus-container {
  width: 40vh;
  height: 29vh;
  position: relative;
  overflow: scroll;
}

.bus-header {
  background-color: #fff;
  z-index: 2;
  position: fixed;
  padding: 4px 12px;
  width: inherit;
  margin-top: -1px;
}

.bus-header h2 {
  font-weight: bold;
  font-size: 1.6em;
  font-family: "SF Pro Display";
  color: #000;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#bus-number {
  background-color: #111;
  height: auto;
  width: 4em;
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  filter: drop-shadow(0 1.5px 2px gray);
}

.bus-number {
  align-items: center;
  display: flex;
}

.bus-number h3 {
  color: #fff;
  font-weight: bolder;
  font-size: 1.6em;
  text-align: center;
}

.bus-number h5 {
  color: #000;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
}

.bus-lines {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  height: auto;
  padding: 0 4px;
  position:relative;
  border-top: 2px solid black;
  z-index: 0;
}

.bus-lines h3 {
  font-size: 1.4em;
  padding-right: 4px;
}

.bus-lines h4 {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}

.bus-lines h6 {
  font-size: 1.2em;
  font-weight: 300;
  padding-right: 10px;
  padding-top: 4px;
  text-align: center;
}

.bus-lines:hover {
  background-color: #b580ff;
  color: #000;
}

.bus-lines:focus {
  background-color: #b580ff;
  color: #000;
}

img.indicator {
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.tab-bar {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: #F9F9F9;
}
/
/* @media screen and (min-width: 360px) and (max-width: 414px)
{
  img.locator {
    top: 46vh;
  }

  .bus-container {
    top: 61vh;
  }
} */

/* @media screen and (max-height: 711px) and (min-width: 411px)
{
  img.locator {
    top: 46vh;
  }

  .bus-container {
    top: 54vh;
  }

  .bus-header {
    top: 51vh;
  }

  .status_nav-bar {
    width: 100%;
  }
} */

/* @media screen and (min-height: 812px) and (min-width: 375px)
{
  img.locator {
    top: 41vh;
  }

  .bus-container {
    top: 50vh;
    bottom: 6.6vh;
  }

  .bus-header {
    top: 47vh;
  }

  .status_nav-bar {
    width: 40vh;
  }
} */

/* @media screen and (min-width: 768px)
{
  img.locator {
    top: 68vh;
  }

  .map-location {
    width: 100%;
  }

  .bus-container {
    top: 77vh;
    bottom: 4.6vh;
  }

  .bus-header {
    top: 75vh;
  }

  .status_nav-bar {
    width: 100%;
  }
} */
