* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

.screen {
  z-index: 2;
  position: fixed;
}

.top-bar img {
  width: 100%;
  opacity: 0.95;
  position: fixed;
}

.map-box {
  width: 100%;
  margin-bottom: -3px;
}

#locator {
  display: flex;
  margin-top: -30px;
  margin-left: 280px;
}

.bus-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.6em;
  font-family: "SF Pro Display";
  background-color: #fff;
  height: 2.7em;
  padding: 0 8px;
}

.bus-header p {
  align-self: center;
  font-weight: bold;
}

#buscontainer {
  top: 367px;
}

.bus-container {
  background-color: #111;
  position: absolute;
  left: 0;;
  right: 0;
  overflow: auto;
}

.bus-lines {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  height: 5.5em;
  margin-top: 2px;
  position: relative;
}

.directions {
  justify-content: center;
  background-color: #111;
  height: auto;
  width: auto;
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  filter: drop-shadow(0 1.5px 2px gray);
  text-align: center;
}

.bus-lines h3 {
  font-size: 2.2em;
  flex: auto;
  align-self: center;
  margin-left: 4px;
}

.bus-lines h4 {
  font-size: 1.2em;
  flex: auto;
  align-self: center;
}

.times {
  text-align: center;
  align-self: center;
}

.times h5 {
  font-size: 1.6em;
  flex: auto;
  align-self: center;
  font-weight: bold;
  margin-right: 8px;
}

.times h6 {
  font-size: 1.2em;
  flex: auto;
  align-self: center;
  font-weight: lighter;
  margin-right: 8px;
}

.times img {
  height: 25px;
  margin-bottom: 4px;
  position: absolute;
  top: 0;
  right: 0;
}

.bus-lines:hover {
  background-color: #3F0095;
  color: #fff
}

.tab-bar {
  position:fixed;
  bottom: 0;
  margin-bottom: -3px;
  overflow: hidden;
}

.tab-bar img {
   width: 100%;
   height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 359px)
{

  #locator {
    display: flex;
    margin-top: -30px;
    margin-left: 280px;
  }

  #buscontainer {
  top: 367px;
  }

}

@media screen and (min-width: 360px) and (max-width: 374px)
{

  #locator {
    display: flex;
    margin-top: -30px;
    margin-left: 320px;
  }

  #buscontainer {
  top: 407px;
  }

}

@media screen and (min-width: 375px) and (max-width: 410px)
{

  #locator {
    display: flex;
    margin-top: -30px;
    margin-left: 320px;
  }

  #buscontainer {
  top: 423px;
  }

}

@media screen and (min-width: 411px) and (max-width: 767px)
{

  #locator {
    display: flex;
    margin-top: -30px;
    margin-left: 370px;
  }

  #buscontainer {
  top: 462px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px)
{

  .screen {
    width: 100%;
  }

  #locator {
    display: flex;
    margin-top: -30px;
    margin-left: 720px;
  }

  #buscontainer {
  top: 843px;
  bottom: -4400px;
  }

  .bus-header {
    font-size: 2.4em;
  }

  .bus-lines h4 {
    font-size: 2em;
  }

  .times h5 {
    font-size: 2em;
  }

  .times h6 {
    font-size: 1.6em;
  }

}

@media screen and (min-width: 1024px)
{
  .screen {
    width: 100%;
  }

  #locator {
    display: flex;
    margin-top: -30px;
    margin-left: 980px;
  }

  #buscontainer {
  top: 1102px;
  bottom: -400px;
  }

  .tab-bar {
  width: 100%;
}

  .bus-header {
  font-size: 2.4em;
}

  .bus-lines h4 {
  font-size: 2em;
}

.times h5 {
  font-size: 2em;
}

.times h6 {
  font-size: 1.6em;
}
