* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

.status_nav-bar {
  opacity: .90;
  background-color: #3F0095;
  position: fixed;
  z-index: 3;
  top: 0;
}

.status-bar img {
  width: 100%;
}
.nav-bar {
  padding: 10px 0;
  position: relative;
}

.nav-bar h1 {
  font-size: 2.4em;
  font-family: "SF Pro Display";
  color: #fff;
  text-align: center;
}

.arrow {
  padding-left: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.map-location {
  position: fixed;
  top: 0;
  z-index: 2;
}

.map-box {
  width: 100%;
  position: relative;
}

img.locator {
  position: absolute;
  top: 270px;
  right: 24px;
}

.bus-header {
  background-color: #fff;
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 56vh;
  height: 4em;
  margin: 4px 0;
  padding: 4px 4px;
  border-bottom: 1px solid black;
}

.bus-header h2 {
  font-weight: bold;
  font-size: 2em;
  font-family: "SF Pro Display";
  color: #000;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

img.indicator {
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

.bus-lines h3 {
  font-size: 2em;
}

.bus-lines h4 {
  font-size: 1.6em;
  font-weight: 300;
}

.tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: #F9F9F9;
}

.bus-container {
  background-color: #fff;
  position: absolute;
  left: 0;;
  right: 0;
  overflow: auto;
  top: 63vh;
  bottom: 8.6vh;
}

.bus-lines {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  height: auto;
  padding: 0 4px;
  position:relative;
  border-top: 2px solid black;
  z-index: 0;
}

#bus-number {
  background-color: #111;
  height: auto;
  width: auto;
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  filter: drop-shadow(0 1.5px 2px gray);
}

.bus-number {
  align-items: center;
  display: flex;
}

.bus-number h3 {
  color: #fff;
  font-weight: bolder;
  font-size: 3.4em;
  text-align: center;
}

.bus-number h5 {
  color: #000;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
}

.bus-lines:hover {
  background-color: #b580ff;
  color: #000;
}
